<!--
=========================================================
* Argon Design System - v1.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (http://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. 

MedicAI Homepage
- About Briefing
- Star on GitHub
- Login or Register



Buttons
- About : Vision & Mission (What is MedicAI), Developer Credits, Accreditation , Sponsors
- Supported Models : COVIDDeepNet, HeartAssistNet , ++
- Social Links
- View Live Examples
- View Development Ideas

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/MEDICAI.gif">
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>
    MedicAI | MLXTREME
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="assets/css/font-awesome.css" rel="stylesheet" />
  <link href="assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="assets/css/argon-design-system.css?v=1.2.0" rel="stylesheet" />
</head>

<body class="index-page">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/index.html">
        <img src="assets/img/brand/MedicAILogo_Transparent.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="assets/img/brand/MedicAILogo_Blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">About</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">

                <!--Provide the href here-->
                <a href="" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                    <i class="fa fa-user-md"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">What is MedicAI?</h6>
                    <p class="description d-none d-md-inline-block mb-0">Our Mission & Vision: Get to know more about MedicAI.</p>
                  </div>
                </a>


                <a href="https://demos.creative-tim.com/argon-design-system/docs/foundation/colors.html" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="fa fa-code"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Developer Credits</h6>
                    <p class="description d-none d-md-inline-block mb-0">Team MLXTREME : Learn more about the Developers Behind MedicAI.</p>
                  </div>
                </a>



                <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="fa fa-copyright"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h5 class="heading text-warning mb-md-1">Accreditation</h5>
                    <p class="description d-none d-md-inline-block mb-0">Current Affiliation : Is MedicAI under an Organisation?</p>
                  </div>
                </a>

                <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="fa fa-money"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h5 class="heading text-warning mb-md-1">Sponsors</h5>
                    <p class="description d-none d-md-inline-block mb-0">Electronic Healthcare : Get to know about our Proud Sponsors!</p>
                  </div>
                </a>


              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Currently Supported Models</span>
            </a>
            <div class="dropdown-menu">
              <a href="/Staticpage/templates/HIV.html" class="dropdown-item">COVIDDeepNet</a>
              <a href="./examples/profile.html" class="dropdown-item">HeartAssistNet</a>
              <a href="./examples/login.html" class="dropdown-item">Perkinson's Disease</a>
              <a href="./examples/register.html" class="dropdown-item">Maternal-Health</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
              <i class="fa fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://github.com/MLXTREME/Doctor-In-A-Browser" target="_blank"     class="btn-inner--icon">

              <i class="fa fa-github"></i>
              <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
          </li>
          <li class="nav-item d-none d-lg-block ml-lg-4">
            
               <a class="nav-link nav-link-icon" href="https://github.com/MLXTREME/Doctor-In-A-Browser" target="_blank" class="btn btn-neutral btn-icon">
               <span class="btn-inner--icon">
                 <i class="fa fa-video-camera"></i>
               </span>
              <span class="nav-link-inner--text"> View Demo</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="assets/Smart-Doc-IN-A-Browser.gif" style="width: 200px;" class="img-fluid">
                <p class="lead text-white"><b>Medical Artificial Intelligence.</b><br>Assistive Technology for better Electronic Healthcare Facilities for a brighter tomorrow.</p> <!--Brighter Future.-->
                
                <div class="section section-js-components">
                  <div class="container">
                    <!--<h2 class="mt-lg mb-5">
                            <span>Javascript Components</span>
                          </h2>-->
                    <!--<h3 class="h4 text-success font-weight-bold mb-4"> </h3>-->
                    <!-- Modals -->
                    <div class="row">
                
                      <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-default mb-3" data-toggle="modal" data-target="#modal-form"><i
                            class="fa fa-key"></i><span class="text-info">Login</span></button>
                        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
                          aria-hidden="true">
                          <!--Login Form-->
                          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-body p-0">
                                <div class="card bg-secondary shadow border-0 mb-0">
                                  <div class="card-header bg-white pb-5">
                                    <div class="text-muted text-center mb-3">
                                      <small>Sign in with</small>
                                    </div>
                                    <div class="btn-wrapper text-center">
                                      <a href="javascript:;" class="btn btn-neutral btn-icon">
                                        <span class="btn-inner--icon">
                                          <img src="assets/img/icons/common/github.svg">
                                        </span>
                                        <span class="btn-inner--text">Github</span>
                                      </a>
                                      <a href="javascript:;" class="btn btn-neutral btn-icon">
                                        <span class="btn-inner--icon">
                                          <img src="assets/img/icons/common/google.svg">
                                        </span>
                                        <span class="btn-inner--text">Google</span>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="card-body px-lg-5 py-lg-5">
                                    <div class="text-center text-muted mb-4">
                                      <small>Or sign in with credentials</small>
                                    </div>
                                    <form role="form" action="/login" method="POST">
                                      <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                          </div>
                                          <input class="form-control" placeholder="Email" type="email" name="LoginUserEmail">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                          </div>
                                          <input class="form-control" placeholder="Password" type="password" name="LoginUserPassword">
                                        </div>
                                      </div>

                                      <hr>
                                      
                                      <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id=" customCheckLogin" type="checkbox" name="LoginUserRememberMe" checked>
                                        <label class="custom-control-label" for=" customCheckLogin">
                                          <span>Remember me</span>
                                        </label>
                                      </div>
                                      
                                      <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4" href="/login" value="Login" id="login_btn">Sign in</button>
                                        <!--<input type="submit" value="Calculate" id="calc_btn" />-->
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--End Login Form-->
                        </div>
                      </div>
                
                      <div class="col-md-4">
                        <button type="button" class="btn btn-block btn-dark mb-3" data-toggle="modal" data-target="#modal-register"><i
                            class="fa fa-sign-in"></i><span class="text-success">Register</span></button>
                        <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register" aria-hidden="true">
                          <!--Register Form-->
                          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-body p-0">
                                <div class="card bg-secondary shadow border-0 mb-0">
                                  <div class="card-header bg-white pb-5">
                                    <div class="text-muted text-center mb-3">
                                      <small>Sign up with</small>
                                    </div>
                                    <div class="btn-wrapper text-center">
                                      <a href="javascript:;" class="btn btn-neutral btn-icon">
                                        <span class="btn-inner--icon">
                                          <img src="assets/img/icons/common/github.svg">
                                        </span>
                                        <span class="btn-inner--text">Github</span>
                                      </a>
                                      <a href="javascript:;" class="btn btn-neutral btn-icon">
                                        <span class="btn-inner--icon">
                                          <img src="assets/img/icons/common/google.svg">
                                          </span>
                                          <span class="btn-inner--text">Google</span>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="card-body px-lg-5 py-lg-5">
                                      <div class="text-center text-muted mb-4">
                                        <small>Or sign up with credentials</small>
                                      </div>
                                      <form role="form" action="/register" method="POST">
                                        <div class="form-group">
                                          <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Name" type="text" name="RegisterUserName">
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" type="email" name="RegisterUserEmail">
                                          </div>
                                        </div>
                                        
                                        <div class="form-group">
                                          <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Password" type="password" name="RegisterUserPassword">
                                          </div>
                                        </div>

                                        <div class="text-muted font-italic"><small>password strength: <span
                                              class="text-success font-weight-700">strong</span></small></div>
                                        
                                        <div class="text-muted font-italic"><small>password strength: <span
                                              class="text-danger font-weight-700">weak</span></small></div>
                                        
                                        <hr>
                                        
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                          <input class="custom-control-input" id=" customCheckLogin2" type="checkbox" name="RegisterPolicy" checked>
                                          <label class="custom-control-label" for=" customCheckLogin2">
                                            <span>I agree with the <a href="#">Privacy Policy</a></span>
                                          </label>
                                        </div>
                                        <!--Fixed - Button Click Doesn't Work-->
                                        <div class="text-center">
                                          <button type="submit" class="btn btn-primary my-4" href="/register" value="Register" id="register_btn">Create account</button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--End Register Form-->
                          </div>



                        
                      </div>
                
                      <div class="col-md-4">
                       <button type="button" class="btn btn-block btn-warning mb-3" data-toggle="modal"
                          data-target="#modal-notification"><i class="fa fa-github"></i> Github</button>

                        <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
                          aria-hidden="true">
                          <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                            <div class="modal-content bg-gradient-danger">
                              <div class="modal-header">
                                <h6 class="modal-title" id="modal-title-notification">Star us on Github!</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="py-3 text-center">
                                  <i class="ni ni-bell-55 ni-3x"></i>
                                  <h4 class="heading mt-4">Show Your Love if you Liked This Project!!</h4>
                                  <p>We'd really appreciate it if you could ⭐ Star us on Github. </p>
                                  
                                   <!-- <script>
                                    var timer = setTimeout(function () {
                                      window.location = 'https://github.com/MLXTREME/Doctor-In-A-Browser'
                                    }, 5000);
                                  </script> -->
                                
                                 
                                
                                  
                                  <p>You will be redirected to the GitHub page in 5 seconds.</p>
                                  <p>If not, <a href="https://github.com/MLXTREME/Doctor-In-A-Browser">click here!</a></p>
                                </div>
                              <!--TODO Implement Redirect after 3 seconds-->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">OK</button>
                                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                
                
                             
                
                
                    </div>
                  </div>
                </div>

                <div class="mt-5">
                  <small class="font-weight-bold mb-0 mr-2 text-white">Developed with ❤️ by </small>
                  <a href="http://github.com/khanfarhan10">
                  <img src="assets/MLXTREME.gif" style="height: 80px;">
                  </a>
                </div>
                <div class="mt-5">
                  <small class="font-weight-bold mb-0 mr-2 text-white">&copyMLXTREME All copyrights reserved.</small>
                  
                  <a href="http://github.com"><span class="text-info">About Us</span></a>
                  &nbsp
                  <a href="http://github.com"><span class="text-info">Our Story</span></a>
                  &nbsp
                  <a href="http://github.com"><span class="text-info">Feedback</span></a>
                  
                </div>
                <hr>
                
                
                <!--<div class="mt-5">
                  <small class="font-weight-bold mb-0 mr-2 text-white">Created using </small>
                
                  <a href="https://demos.creative-tim.com/argon-design-system/"><span class="text-info">Argon</span></a>
                  &nbsp
                  <a href="https://github.com/creativetimofficial"><span class="text-info">by Creative Tim</span></a>
                  &nbsp
                  <a href="https://getbootstrap.com/"><span class="text-info">on Bootstrap 4</span></a>

              </div>-->
            </div>
          </div>
        </div>
      </div>
      </div>
      <!--
      <div class="section section-js-components">
          <div class="container">
            <div class="mt-5">
              <small class="font-weight-bold mb-0 mr-2 text-white">Created using </small>
            
              <a href="https://demos.creative-tim.com/argon-design-system/"><span class="text-info">Argon</span></a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <a href="https://github.com/creativetimofficial"><span class="text-info">by Creative Tim</span></a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <a href="https://getbootstrap.com/"><span class="text-info">on Bootstrap 4</span></a>
          </div>
      </div>
      -->

      <!--   Core JS Files   -->
      <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
      <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
      <script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
      <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
      <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
      <script src="assets/js/plugins/bootstrap-switch.js"></script>
      <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
      <script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
      <script src="assets/js/plugins/moment.min.js"></script>
      <script src="assets/js/plugins/datetimepicker.js" type="text/javascript"></script>
      <script src="assets/js/plugins/bootstrap-datepicker.min.js"></script>
      <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
      <!--  Google Maps Plugin    -->
      <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
      <script src="assets/js/argon-design-system.min.js?v=1.2.0" type="text/javascript"></script>
      <script>
        function scrollToDownload() {
    
          if ($('.section-download').length != 0) {
            $("html, body").animate({
              scrollTop: $('.section-download').offset().top
            }, 1000);
          }
        }
      </script>
      <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
      <script>
        window.TrackJS &&
          TrackJS.install({
            token: "ee6fab19c5a04ac1a32a645abde4613a",
            application: "argon-design-system-pro"
          });
      </script>
    </body>
    
    </html>